# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local env
.env
.env.*
!env.example

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Django
/staticfiles/
/media/

# macOS / IDE
.DS_Store
.idea/
.vscode/

# Docker
*.log